/*RESET*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--bg-color);
    color: var(--white-color);
}

/*SHARED*/
:root {
    --main-title-h1-font-size: 28px;
    --section-explanation-text: 15px;
    --tile-letter-font-size: 20px;
    /*COLORS*/
    --bg-color: rgb(17, 17, 17);
    --primary-color: rgb(112, 112, 252);
    --secondary-color: rgb(191, 26, 154);
    --white-color: rgb(243, 243, 243);
    --accent-color: rgba(113, 55, 227, 0.902);

}

.center-text {
    text-align: center;
}

.letter-tile {
    width: 60px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: var(--secondary-color);
    padding: 10px;
}

.letter-tile span {
    font-size: var(--tile-letter-font-size);
}

.explanation-container {
    display: flex;
    justify-content: center;
}

.span-text {
    color: var(--primary-color);
}

.main-explanation-text{
    font-size: var(--section-explanation-text);
    background-color: var(--accent-color);
    font-weight: bold;
    text-align: center;
    padding: 7px 5px;
    border-radius: 8px;
}

/*HEADER*/
.header {
    padding: 10px 0;
}

/*MAIN*/
.main {
    margin-left: 10px;
    margin-right: 10px;
}

.main-title-h1 {
    font-size: var(--main-title-h1-font-size);
}

.alphabet-container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-content: center;
}

.input-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(32, 32, 32);
    padding: 10px;
    border-radius: 8px;
}

.input-container label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.input-container label input {
    border: none;
    padding: 5px;
    border-radius: 4px;
}

.input-container span {
    font-size: var(--section-explanation-text);
    font-weight: bold;
}

.submit-button {
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: var(--main-section-explanation-text);
    background-color: var(--secondary-color);
    border: 2px solid white;
    color: var(--white-color);
    align-self: flex-end;
}

.input-text {
    padding: 3px;
}

.speller-section h2 {
    padding: 10px 0;
}

/*FOOTER*/
.footer p {
    padding: 15px;
}

/*ANIMATIONS*/
.main .alphabet-container .letter-tile:hover,
.main .alphabet-container .letter-tile:active,
.main .speller-section .input-container .submit-button:hover,
.main .speller-section .input-container .submit-button:active {
    background-color: rgb(218, 39, 179);
    transition-duration: 0.2s;
}

/*MEDIA*/
@media(min-width:800px) {
    /*SHARED*/
    :root {
        --main-title-h1-font-size: 32px;
        --section-explanation-text: 20px;
        --tile-letter-font-size: 30px;
    }

    .main .alphabet-section,
    .main .speller-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /*MAIN*/
    .main .alphabet-section .alphabet-container {
        padding: 10px;
        max-width: 600px;
    }

    .letter-tile {
        border: 3px solid white;
    }

    .main .speller-section .input-container {
        width: 400px;
        padding: 20px;
    }
}
